package ${package.Controller};

#if(${superControllerClassPackage})
import ${superControllerClassPackage};
#end

/**
 * <p>
 * 前端控制器接口类: ${table.controllerName}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.controllerName} : ${superControllerClass} {
}
#else
#if(${superControllerClass})
public interface ${table.controllerName} extends ${superControllerClass}{
}
#else
public class ${table.controllerName} {
}
#end
#end







