package ${package.Dao};

import ${package.Entity}.${entity};
import ${superDaoClassPackage};

/**
 * <p>
 * 数据访问接口类: ${table.daoName}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.daoName} : ${superDaoClass}<${entity}>
#else
public interface ${table.daoName} extends ${superDaoClass}<${entity}> {

}
#end
