package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};

/**
 * <p>
 * 服务接口类: ${table.serviceName}
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}
#else
public interface ${table.serviceName} extends ${superServiceClass} {

}
#end
